In [3]:
#tuple
t1=("one","two","three","four","five","six","seven")
print(type(t1),t1)
print(t1[2])
print(t1[-2])
print(t1[1:5])
print(t1[-5:-2])
print(len(t1))
t2=(2,5,8,9,7)
t3=t1+t2
print(t3)
t4=("boy")
print(type(t4),t4)
t5=("boys",)
print(type(t5),t5)
list1=[4,5,6]
print(type(list1),list1)
t6=tuple(list1)
print(list1)

<class 'tuple'> ('one', 'two', 'three', 'four', 'five', 'six', 'seven')
three
six
('two', 'three', 'four', 'five')
('three', 'four', 'five')
7
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 2, 5, 8, 9, 7)
<class 'str'> boy
<class 'tuple'> ('boys',)
<class 'list'> [4, 5, 6]
[4, 5, 6]